
    * {
        color:rgb(0, 0, 0); background:rgb(255, 255, 255);
    }


    p{
        color:aquamarine
    }
    div{
        blackground:re
    }



    .cor-blue{color:aqua

    }